<div class="row">
    <div class="col-12">
        <div class="showroom-section pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 d-flex flex-column text-white mb-4 mb-md-0">
                        <h2 class="mb-3">ЛУЧШЕ УВИДЕТЬ В ЖИВУЮ</h2>
                        <p class="text-justify">
                            Мы создали для вас место,
                            где представлены более 250 коллекций плитки, камня,
                            сантехники и мебели от премиальных брендов.
                            С целью комфорта за вами будет закреплён личный менеджер.
                            По запросу также предоставляем услуги дизайнера.
                            В шоу-руме функционирует зона отдыха.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <a href="#" class="btn btn-light opacity-75 w-100 w-md-auto mb-3">посетить шоу-рум</a>
                        <p id="area-text" class="mt-2 text-white border-start ps-2 w-100">Территория закрытого доступа, посещение по <span id='appointment-text'>предварительной записи</span>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>