<h2>Запросы на цену</h2>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Коллекция</th>
      <th>Плитка</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <%= render @invoices %>
  </tbody>
</table>
